.App {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summator {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

